---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'

import digitalizacionDesktop from '../../../assets/highlights/digitalizacion_desktop.png'
import Button from '../../ui/Button.astro'
---

<Section id="features">
	<Row>
		<Col span="7" align="left" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty"><strong>Digitalización de documentos</strong></h2>
			<p class="pb-0 text-lg">
				Procesamos grandes volúmenes de documentos físicos con rapidez y precisión para digitalizarlos y convertir su información en insights valiosos, que se transformen en acciones y resultados escalables para tu empresa.
			</p>
			<Button size='lg'>Contacta con un asesor</Button>
		</Col>
	</Row>
	<Row>
		<Col span="12" classes="mb-12 max-w-6xl mx-auto lg:max-w-4xl">
			<img src={digitalizacionDesktop.src} alt="Digitalización de documentos" class="w-auto h-auto mb-8" loading="lazy" />
		</Col>
	</Row>
</Section>
