---
// Basic Contact Form
// ------------
// Description: A basic contact form with fields for first name, last name, email, phone number and message.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

// Components
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
	<CardBody classes="border-2 border-black rounded-3xl">
		<Form>
			<FormField>
				<label for="name" class="text-sm font-semibold">Nombre completo *</label>
				<InputField type="text" id="firstName" label="Nombre" required value=""/>
				<!-- <InputField type="text" id="lastName" label="Last Name" /> -->
			</FormField>
			<FormField>
				<label for="name" class="text-sm font-semibold">Teléfono *</label>
				<InputField type="tel" id="phone" label="Número de telefono" required value=""/>
			</FormField>
			<FormField>
				<label for="name" class="text-sm font-semibold">Dirección de correo corporativo *</label>
				<InputField type="email" id="email" label="Email" required value="" />
			</FormField>
			<FormField>
				<label for="name" class="text-sm font-semibold">Nombre de empresa *</label>
				<InputField type="text" id="company" label="Nombre de la Empresa" required value=""/>
			</FormField>
			<FormField>
				<label for="name" class="text-sm font-semibold">Conozcámonos, describe tu situación actual</label>
				<TextArea id="message" label="Tu Mensaje" />
			</FormField>
			<Button style="primary" type="submit">Contáctenme</Button>
		</Form>
	</CardBody>
</Card>
