---
// Basic Dark Testimonial section
// ------------
// Description: A centered testimonial section that contains: a quote, a caption and a cite in a dark section with a background image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Testimonial from '../../ui/Testimonial.astro'

// Props
type Props = {
	blockquote?: string
	figcaption?: string
	cite?: string
	bg?: any
	bgPosition?: 'left' | 'right' | 'center'
}
const {
	blockquote = 'Foxi is like a rocket boost for our productivity! Its sleek design and out-of-this-world features make managing projects and team communication a breeze.',
	figcaption = 'Sheryl Sandberg',
	cite = 'CEO, Facebook',
	bg,
	bgPosition = 'center'
} = Astro.props

import mockupSoftware from '../../../assets/highlights/mockUps-software-doc.png'
import bgShape from '../../../assets/circles-bg.png'
import Button from '../../ui/Button.astro'
---

<Section id="testimonials" classes="bg-gradient-to-t from-gray-950 via-gray-800 to-gray-900">
	<Row>
		<Col span="7" align="left" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty text-white">Automatización de procesos y gestión
				avanzada de documentos</h2>
			<p class="pb-0 text-lg text-white/85">
				Plataforma que digitaliza y automatiza procesos clave mientras gestiona documentos en un solo lugar. Desde la validación de identidad y firma electrónica hasta la consulta y gestión de archivos, agiliza trámites, mejora la experiencia del usuario y garantiza el cumplimiento normativo.
			</p>
			<Button style='third' size='lg'>Solicita una demo</Button>
		</Col>
	</Row>
	<Row>
		<Col span="12" classes="relative max-w-5xl mx-auto">
			<div class="absolute inset-0 bg-[url('/src/assets/circles-bg.png')] bg-no-repeat bg-contain bg-center opacity-30 z-0"></div>
			<div class="relative z-10">
				<img src={mockupSoftware.src} alt="Digitalización de documentos" class="w-auto h-auto mb-8" loading="lazy" />
			</div>
		</Col>
	</Row>
</Section>

